.btn {
    border: none;
    border-radius: 0;
    font-size: 0.6rem;
}

@media (min-width: 768px) { 
    .btn {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .btn {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .btn {
        font-size: 1rem;
    }
}

