.tags-container {
    margin-top: 3vh;
}

.tags-add, .tags-input {
    font-size: 1.5vmax;
    border-radius: 0;
}

.tags-input, 
.tags-input:active, .tags-input:focus {
    background-color: #202020;
    color: white;
    border: 1px solid black;
}

.tags-add,
.tags-add:active, .tags-add:focus {
    border: 1px solid black;
}

.tags-clear {
    background: inherit;
    border: none;
    text-align: right;
    width: 100%;
    color: grey;
    font-size: 1.75vmax;
    margin-bottom: 1.5vh;
}

.tags-clear:hover, .tags-clear:active, .tags-clear:focus {
    color: #87cee8;
}

.tags-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 1.5vh;
}

/*
@media (min-width: 576px) { ... } good for this size

@media (min-width: 768px) { ... } good for this size

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }

*/

