.tags-container {
    margin-top: 2vh;
}

.tags-header {
    border-top: 1px solid grey;
    padding-top: 1.5vh;
    margin-bottom: 0.5vh;
    font-size: 1rem;
    color: white;
}

.tags-input,
.tags-input:focus, .tags-input:active {
    background-color: inherit;
}

.tags-action-wrapper {
    display: flex;
    margin-top: 1.25vh;
}

.tags-add {
    font-size: 0.5rem;
    border-radius: 0;
    margin-left: auto;
}

.tags-clear {
    background: inherit;
    border: none;
    color: grey;
    font-size: 0.4rem;
}

.tags-clear:hover, .tags-clear:active, .tags-clear:focus {
    color: #87cee8;
}

.tags-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2.5vh;
}

@media (min-width: 768px) { 
    .tags-header {
        font-size: 1.5rem;
    }

    .tags-clear, .tags-add {
        font-size: 1.35rem;
    }
}

@media (min-width: 992px) {
    .tags-header {
        font-size: 2rem;
    }

    .tags-clear, .tags-add {
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) { 
    .tags-container {
        width: 35%;
        margin: 2vmin 3.5vmin 3.5vmin 1.5vmin;
    }

    .tags-header {
        font-size: 1.5rem;
        border: none;
    }

    .tags-clear, .tags-add {
        font-size: 1rem;
    }

    .tags-action-wrapper {
        margin-top: 1.5vh;
    }
}



