.navbar {
    background-color: black;
    padding: 0;
    margin-bottom: 2vh;
    border-bottom: 1px solid white;
}

.logo {
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 5vw;
    width: 5vmax;
    height: 5vmax;
}

.navbar-toggler-icon {
    font-size: 0.6rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-link {
    font-size: 0.25rem;
    text-align: right;
    color: white;
}

.nav-link:active, .nav-link:focus, .nav-selected {
    color: #87ceeb;
}

@media (min-width: 768px) {
    .nav-link, .navbar-toggler-icon  {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    .navbar {
        border-bottom: 2px solid white;
    }

    .nav-link, .navbar-toggler-icon  {
        font-size: 1.65rem;
    }
}


@media (min-width: 1200px) {
    .navbar {
        border-bottom: 1px solid white;
    }

    .logo {
        border-width: 1px;
        margin-left: 2vw;
        width: 3vmax;
        height: 3vmax;
    }
    
    .nav-link {
        font-size: 1rem;
    }
}

