*:focus {
    box-shadow: none !important;
    outline: none !important;
}

.main-content {
    padding-top: 12vh !important;
}

/*
@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) {
  
}
*/

