.user-info-container {
    margin-top: 3.5vh;
    padding: 0 13vw 2vh 13vw;
}

.info-input {
    background-color: inherit;
}

#info-save-btn {
    margin-top: 7.5vh;
}

@media (min-width: 1200px) { 

    #info-save-btn {
        margin-top: 7.5vh;
    }

    .user-info-container {
        margin-top: 5vh;
        padding: 0 15vw 1vh 15vw;
    }

    .info-input {
        background-color: inherit;
        margin-bottom: 3vh;
    }
    
    
}
