.tag-wrapper {
    display: flex;
    width: auto;
    background-color: #202020;
    border: 1px solid black;
    margin-right: 1.5vw;
    margin-bottom: 1vh;
}

.tag, .tag-remove {
    color: white;
    font-size: 0.65rem;
    padding: 1.5vmin;
}

.tag {
    background-color: inherit;
}

